body {
  color: white;
  font-family: "Raleway", sans-serif;
  margin: 0;
  background-color: #363949;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-y: auto;
  font-size: 18px;
  font-weight: 300;
  z-index: 1;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
}

button:hover {
  color: rgb(252, 238, 38);
  transition: all 0.3s;
  border: 1px solid rgb(252, 238, 38);
}

/* FOOTER */
.footer {
  height: 3rem;
  width: 100%;
  background-color: rgba(21, 32, 46, 0.75);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  overflow: initial;
  position: relative;
}

.footer .back-to-top {
  position: absolute;
  top: -0.8rem;
  background-color: rgb(241, 46, 46);
  color: white;
  width: 8rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}

/* FIRST PAGE - HERO */

.hero {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  font-weight: 300;
  padding: 48px;
  box-sizing: border-box;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profilepic {
  border-radius: 50%;
  border: solid 3px black;
  width: 14rem;
}

.my-name {
  color: rgb(211, 72, 72);
  font-weight: 500;
}

.view-my-work-btn {
  width: 250px;
  height: 50px;
  background-color: transparent;
  color: rgb(211, 72, 72);
  border: none;
  font-family: inherit;
  font-size: 24px;
  margin-top: 16px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  animation: focus-in 2s;
  z-index: 2;
}

/* NAVBAR */
.nav-bar {
  height: 4rem;
  width: 100%;
  background-color: rgba(21, 32, 46, 0.75);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 2rem;
  z-index: 3;
  box-sizing: border-box;
  padding: 0 4rem 0 4rem;
}

.nav-bar a {
  font-family: inherit;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.2rem;
  transition: 0.3s;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

/* PROJECTS */
.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.projects-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  margin-top: 24px;
  padding-left: 96px;
  padding-right: 96px;
  box-sizing: border-box;
}

.project {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 36px;
}
.project-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 12px;
  z-index: 2;
  width: 30%;
}

.project-title {
  display: flex;
}

.project-desc-text {
  line-height: 24px;
}

.project-desc-btns {
  display: flex;
  margin-top: 30px;
  gap: 24px;
  flex-wrap: wrap;
}

.main_div {
  --color: rgb(211, 72, 72);
  position: relative;
  z-index: 1;
  margin-left: 7px;
  margin-top: 7px;
  width: 200px;
  height: 50px;
}
.main_div button {
  font-size: 20px;
  background: transparent;
  color: rgb(211, 72, 72);
  border: none;
  cursor: pointer;
  font-family: inherit;
  border: 1px solid rgb(211, 72, 72);
  transition: 0.3s;
  width: 100%;
  height: 100%;
}

.main_div button:hover {
  background: rgb(252, 238, 38);
}

.img-container {
  display: flex;
  column-gap: 0.5rem;
}

/* CONTACT */
.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 24px 0 24px;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 112px;
}

.contact-content {
  max-width: 500px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

#contactlinks {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  padding: 0.5rem 2rem;
}

.contact a {
  color: white;
}

.contact i {
  font-size: 48px;
  cursor: pointer;
  transition: 0.3s;
}

.contact i:hover {
  color: rgb(252, 238, 38);
}

/* ABOUT */
.about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem 0 2rem;
  position: relative;
  box-sizing: border-box;
}

.about-content {
  display: flex;
  max-width: 1200px;
  gap: 24px;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bio-desc {
  line-height: 34px;
}

.bio-desc a {
  color: rgb(211, 72, 72);
  font-weight: 600;
  text-decoration: underline;
}

.technologies {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
}

.technologies .tech-row {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.technologies .tech {
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.technologies i {
  font-size: 75px;
}

@media (max-width: 500px) {
  .about {
    padding: 0.5rem;
  }
  .about-content {
    flex-direction: column;
  }
  .project {
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .nav-bar {
    justify-content: center;
  }
  .hero {
    width: auto;
  }
  .hero-content {
    margin-right: 5rem;
    margin-left: 5rem;
  }
  .technologies {
    flex-direction: row;
  }
  .technologies .tech-row {
    flex-direction: column;
  }
  .about {
    margin-bottom: 16rem;
  }
  .contact-text {
    margin-right: 5rem;
    margin-left: 5rem;
  }
  .project-desc {
    width: 360px;
  }

  .img-container img {
    width: 180px;
  }
  #cvimg {
    width: 360px;
  }
  .bio-desc {
    width: 360px;
  }
}
